[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hello"]
	path = themes/hello
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
