<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/resume.css" />

        <meta charset="utf-8" />
        <meta name="title" content="{{.Site.Title}}">
        <meta name="description" content="Personal Home Page" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <div class="header" id="header" href="">
                <div class="title" href="">
                    <a href="{{ .Site.BaseURL }}" style="text-decoration: inherit; color: inherit">{{ .Site.Title }}</a>
                </div>
                {{ .Content }}
            </div>
        </div>
    </body>

</html>

