<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/style.css" />

        <title>{{ .Site.Title }}</title>

        <meta charset="utf-8" />
        <meta name="title" content="{{.Site.Title}}">
        <meta name="description" content="Personal Home Page" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <div class="header" id="header">
                <div class="title">
                    {{ .Site.Title }}
                </div>
                <nav class="nav">
                    <a href="">Home</a>
                    <a href="">Projects</a>
                </nav>
            </div>
            <div class="profile">
                <p><img src="{{ .Site.BaseURL }}/images/dexter.jpg" alt="dexter">
                    {{ .Content }}
                </p>
            </div>
        </div>
    </body>

	<footer class="footer">
		Marshel Abraham &copy; 2021
		{{ if ne (dateFormat "2006" now) "2021" }}
			- {{ dateFormat "2006" now }}
		{{ end }}
	</footer>

</html>

