<!DOCTYPE html>
<html>
    <head>
        {{ template "_internal/google_analytics.html" . }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/style.css" />

        <title>Marshel Abraham | Software | Developer | Engineer | India</title>

        <meta charset="utf-8" />
        <meta name="title" content="{{.Site.Title}}">
        <meta name="description" content="Home Page" />
        <meta name="author" content="Marshel Abraham" />
        <meta name="keywords" content="Developer Software Engineer India Marshal Marshel Abraham" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <div class="header" id="header">
                <div class="title" id="title" href="">
                    <a href="{{ .Site.BaseURL }}" style="text-decoration: inherit; color: inherit">{{ .Site.Title }}</a>
                </div>
                <nav class="nav">
                    <a href="{{ .Site.BaseURL }}/books">Books</a>
                    <a href="{{ .Site.BaseURL }}/projects">Projects</a>
                </nav>
            </div>
            <div class="profile">
                <p><img src="{{ .Site.BaseURL }}/images/profile.jpg" alt="profile">
                    {{ .Content }}
                </p>
            </div>
        </div>
    </body>

    <footer class="footer">
        <div class="social">
            <a class="linkedin-icon" href="https://www.linkedin.com/in/marshel-abraham/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="github-icon" href="https://github.com/mshelll/"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="twitter-icon" href="https://twitter.com/AbrahamMarshel/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </footer>

</html>

