<!DOCTYPE html>
<html>
    <head>
        {{ template "_internal/google_analytics.html" . }}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/style.css" />

        <title>{{ .Site.Title }}</title>

        <meta charset="utf-8" />
        <meta name="title" content="{{.Site.Title}}">
        <meta name="description" content="Personal Home Page" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <div class="header" id="header">
                <div class="title" id="title" href="">
                    <a href="{{ .Site.BaseURL }}" style="text-decoration: inherit; color: inherit">{{ .Site.Title }}</a>
                </div>
                <nav class="nav">
                    <a href="{{ .Site.BaseURL }}/resume">Work</a>
                    <a href="{{ .Site.BaseURL }}/books">Books</a>
                </nav>
            </div>
            <div class="profile">
                <p><img src="{{ .Site.BaseURL }}/images/profile.jpeg" alt="profile">
                    {{ .Content }}
                </p>
            </div>
        </div>
    </body>

	<footer class="footer">
		Marshel Abraham &copy; 2022
		{{ if ne (dateFormat "2006" now) "2021" }}
			- {{ dateFormat "2006" now }}
		{{ end }}
	</footer>

</html>

