
:root {
    background: white;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    margin: auto;
    padding-left: 50px;
    padding-right: 70px;
}

.header {
    padding-top: 0px;
    padding-left: 40px;
    margin: auto;
    width: 130%;
    flex-wrap: wrap;
    display: flex; 
}

.header .title {
    font-size: 40px;
    padding-left: 250px;
}

.contact {
    font-size: 20px;
}

.work {
    font-size: 20px;
}

.skills {
    font-size: 20px;
}

.education {
    font-size: 20px;
}
