<html>
    <head>
        <title>Library</title>
        <link href="{{ .Site.BaseURL }}/books.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header" id="header">
            <div class="title" id="title" href="">
                <a href="{{ .Site.BaseURL }}" style="text-decoration: inherit; color: inherit">{{ .Site.Title }}</a>
            </div>
            <nav class="nav">
                <a href="{{ .Site.BaseURL }}/resume">Work</a>
                <a href="{{ .Site.BaseURL }}/books">Books</a>
            </nav>
        </div>
        <ul class="shelve" type="none">
            <a href="https://jamesclear.com/atomic-habits"><img src="{{ .Site.BaseURL }}/images/atomic_habits.jpg"></a>
            <a href="https://www.ynharari.com/book/sapiens-2/"><img src="{{ .Site.BaseURL }}/images/sapiens.jpg"></a>
            <a href="https://basecamp.com/books/rework"><img src="{{ .Site.BaseURL }}/images/rework.jpg"></a>
            <a href="https://www.zero-to.one/"><img src="{{ .Site.BaseURL }}/images/zerotoone.png"></a>
            <a href="https://simonsinek.com/product/start-with-why/"><img src="{{ .Site.BaseURL }}/images/start_with_why.png"></a>
            <a href="https://markmanson.net/not-giving-a-fuck"><img src="{{ .Site.BaseURL }}/images/subtle_fuck.png"></a>
            <a href="https://www.navalmanack.com/"><img src="{{ .Site.BaseURL }}/images/naval.png"></a>
            <a href="https://en.wikipedia.org/wiki/Ikigai"><img src="{{ .Site.BaseURL }}/images/ikigai.jpg"></a>

        </ul>
    </body>
</html>